# Ignore log files
*.log

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore build output
build/
dist/

.pytest_cache/
__pycache__
tempCodeRunnerFile.py

component/__pycache__/
tests/__pycache__/

# *tests/
